body {
    background: #eee;
    font: 12px sans-serif;
}

.alignClass {
    text-align: center;
}

.right_align {
    text-align: right;
}

.left_align {
    text-align: left;
}

.headings {
    color: brown;
    margin-left: 300px;
}

.labelStyle{
    position:relative;
    margin-left: 400px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: solid;
    outline: none;
    color: #fff;
    background-color: #8080ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.ratingCss{
    color:chocolate;
}

.silentButton {
    background-color: #92C5C7;
    border: none;
    text-align: center;
    font-size:large;
    height:auto;
    color:darkslateblue;
}